.catalog {
  display: flex;
  flex-direction: column;
  max-width: 1441px;
  margin: 0 auto;
  min-height: calc(100vh - 75px);
  padding: 0 0 51px 0;

  .catalog__title {
    font-weight: 500;
    font-size: 25px;
    margin: 30px 0 0 0;
  }

  .search-wrapper {
    margin: 30px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .search {
      border: 1px solid #777777;
      border-radius: 5px;
      height: 48px;
      font-size: 20px;
      padding: 0 19px;
      margin: 0 0 30px 0;
      width: 453px;
    }
    
    .search::placeholder {
      font-size: 15px;
    }
    
    .sort {
      border: 1px solid #777777;
      border-radius: 5px;
      height: 48px;
      margin: 0 0 30px 0;
      padding: 0 0 0 16px;
      width: 330px;
    }
  }

  .product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product-grid::after {
    content: '';
    flex: 0 1 453px;
  }

  .not-found-msg {
    font-size: 20px;
    list-style: none;
    margin-top: 50px;
    text-align: center;
    width: 100%;
  }

  .selected-product-wrapper {
    margin-top: auto;
    height: 319px;
    background-color: #e7e7e7;
  }
}
