@import '../scss/base';

.catalog {
  display: flex;
  flex-direction: column;
  max-width: 1441px;
  margin: 0 auto;
  min-height: calc(100vh - 75px);
  padding: 0 0 51px 0;

  .catalog__title {
    font-weight: 500;
    font-size: $headersSize;
    margin: 30px 0 0 0;
  }

  .search-sort-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0 0 0;
    justify-content: space-between;

    .search-bar {
      padding: 1px;
      position: relative;
    }
    
    .search-bar, .sort {
      border: 1px solid $searchGrey;
      border-radius: 5px;
      margin: 0 0 30px 0;
      
    }

    .search-input {
      height: 44px;
      border: none;
      font-size: 20px;
      padding: 0 0 0 52px;
      width: 449px;
    }
    
    .search-icon {
      font-size: 18px;
      position: absolute;
      top: 15px;
      left: 19px;
      color: $searchGrey;
    }
    
    .sort, .search-input::placeholder {
      font-size: 15px;
    }
    
    .sort {
      color: $searchGrey;
      height: 48px;
      padding: 0 0 0 16px;
      width: 330px;
    }
  }

  .product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product-grid::after {
    content: '';
    flex: 0 1 453px;
  }

  .not-found-msg {
    font-size: 20px;
    list-style: none;
    margin-top: 50px;
    text-align: center;
    width: 100%;
  }

  .selected-product__wrapper {
    background-color: $darkgrey;
    display: flex;
    flex-direction: column;
    height: 319px;
    width: 100%;
    align-items: center;
    margin-top: auto;

    .selected-product__title {
      font-size: $headersSize;
      margin: 40px 0;
    }

    .selected-product_prevent-shrink {
      display: flex;
      width: 100%;
      flex: 0 1 453px;
      justify-content: center;
    }
  }
}

@media (max-width: 1390px) {
  .catalog {
    align-items: center;
    max-width: 900px;
    padding: 0;

    .search-sort-wrapper {
      justify-content: center;
      width: 320px;
      
      .search-bar, .sort {
        flex: 0 1 280px;
      }

      .search-input {
        width: 100%;
      }
    }
    
    .product-grid {
      justify-content: center;
      padding: 0 2%;
    }
    
    .selected-product__wrapper {
      padding: 0 2%;
      width: 100%;

      .selected-product__title {
        text-align: center;
      }
    }
  }
}
