@import '../scss/base';

.product-card {
  background-color: $lightGrey;
  border: 1px solid $cardBorderGrey;
  border-radius: 5px;
  display: flex;
  height: 170px;
  margin: 0 0 40px 0;
  flex: 0 1 453px;
  overflow: hidden;

  :hover {
    cursor: pointer;
  }

  .product-card__image-wrapper {
    border-radius: 5px 0 0 5px;
    height: 170px;
    max-width: 179px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .product-card__text-wrapper {
    padding: 42px 0 26px 24px;
    display: flex;
    flex-direction: column;
  }

  .product-card__brand {
    font-size: 13px;
    margin: 0 0 8px 0;
  }

  .product-card__title {
    font-size: 17px;
    font-weight: 500;
  }

  .product-card__price-wrapper {
    margin-top: auto;
  }

  .product-card__regular-price {
    color: $searchGrey;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    margin: 0 20px 0 0;
    text-decoration: line-through;
    width: 54px;
  }

  .product-card__final-price {
    background-color: $red;
    border-radius: 3px;
    color: $white;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    padding: 4px 6px;
    text-align: center;
    width: 73px;
  }
}

.product-card_active {
  border: 3px solid $red;
}

@media (max-width: 1390px) {
  .product-card {
    margin: 0 0 15px 0;

    .product-card__text-wrapper {
      padding: 20px 5px 26px 20px;
      width: 250px;
    }
  }
}
